language: node_js
node_js:
- "10"
dist: trusty
sudo: false

branches:
  only:
  - task_1

cache:
  directories:
  - node_modules

install:
- npm install -g yarn

script:
- yarn build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/
  on:
    branch: task_1