<div>
  <div *ngFor="let item of newsList">
    <span>{{item.title}}</span>

    <button
      mat-stroked-button
      color="primary"
      (click)="onNewsDetailsClick(item.id, item.type)"
    >
      Details
    </button>

    <button
      *ngIf="item.type === NEWS_TYPE.LOCAL"
      mat-stroked-button
      (click)="onNewsEditClick(item.id)"
    >
      Edit
    </button>

    <button
      *ngIf="item.type === NEWS_TYPE.LOCAL"
      mat-stroked-button
      color="warn"
      (click)="onNewsDeleteClick(item.id)"
    >
      Delete
    </button>
  </div>
</div>
